.btn {
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: rgb(221, 174, 19);
  color: #ffffff;
  opacity: 0.6;
  transition: opacity 0.1s ease-in;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0px 3px;
}

.btn:hover {
  opacity: 1;
}