.todo {
  background-color: #495257;
  padding: 15px 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 0.3s;
}

.todo:nth-child(even) {
  background-color: #3f454d;
}

.todo-content {
  display: flex;
  align-items: center;
  /* width: 100%; */
  flex-grow: 1;
  overflow: hidden;
}

.todo-actions {
  display: flex;
  align-items: center;
}

.todo-status {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #ced0d3;
  margin-right: 8px;
  border-radius: 8px;
}

.todo-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.todo.complete .todo-text {
  text-decoration: line-through;
  font-style: italic;
  color: #cccccc;
}

.todo.complete .todo-status {
  background-color: #499bf8;
}

.todo-edit-form {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.todo-edit-form input {
  background-color: transparent;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border: 1px solid #5c666b;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  margin-right: 5px;
}

.todo-edit-form input:focus {
  outline: none;
  border-color: #ffffff;
}