.todo {
  background-color: #495257;
  padding: 15px 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo:nth-child(even) {
  background-color: #3f454d;
}

.todo-content {
  display: flex;
  align-items: center;
}

.todo-status {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #ced0d3;
  margin-right: 8px;
  border-radius: 8px;
}

.todo.complete .todo-content {
  text-decoration: line-through;
  font-style: italic;
  color: #cccccc;
}

.todo.complete .todo-status {
  background-color: #499bf8;
}

.todo-del {
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: rgb(221, 19, 53);
  color: #ffffff;
  opacity: 0.6;
  transition: opacity 0.1s ease-in;
}

.todo-del:hover {
  opacity: 1;
}